#SM{float:right; color: white; padding-right: 10px}
#SM svg{height:27px;width:27px;margin:0;padding:0;display:inline-block}
#SM span{font-family:WalkwaySemiBoldRegular;position:relative;top:-7px}
#SM{float:right}
#SM svg{height:27px;width:27px;margin:0;padding:0;display:inline-block}
#SM span{font-family:WalkwaySemiBoldRegular;position:relative;top:-7px}